[Desktop Entry]
Type=Application
Name=JoaKApple
Comment=Toolkit para baixar, verificar e descriptografar retorno de oficios judiciais da Apple
Exec=JoaKApple
Icon=JoaKApple
Categories=Utility;
Terminal=false
